mixin footer()
    footer.sections__footer 
        .container
            .footer
                .madein
                    .madein__text Сайт разработан
                    a.madein__site(href=`${modx('siteLink')}` rel="noopener nofollow noreferrer") !{modx('siteName')}
                
                |!{`<a class="policy-link" ${modx('policy')}>Политика конфиденциальности</a>`}

                .counter
                    |!{modx('counter')}
                
                .copyright !{modx('copyright')}
