-
    var mainSlider = { className: 'catalog', classItem: 'catalog-item', items: [
        {image: '', name: 'Товар какой то очень очень очень  очень дляинный заголовок 1'},
        {image: '', name: 'Товар 2'},
        {image: '', name: 'Товар 3'},
        {image: '', name: 'Товар 4'},
        {image: '', name: 'Товар 5'},
        {image: '', name: 'Товар 6'},
        {image: '', name: 'Товар 7'},
        {image: '', name: 'Товар 8'},
        {image: '', name: 'Товар 9'}
    ]}

mixin main-slider(cl, i, params, key) 
    -
        var img = `${files}/${i.image ? i.image : image}`
        var link = `${i.link ? i.link : '#'}`
    div(class = `${cl}`)
        div(class = `${cl}__top`)
            a(class = `${cl}__image` href = `${img}` data-fancybox = `${params.fancybox ? params.fancybox : cl}` data-caption = `${i.name}`)
                img(class = `${cl}__img` src = `${img}`, alt = `${i.name}`)
            div(class = `${cl}__name`) !{i.name}
        


