mixin header()
    header.sections__header
        .container
            .header
                a.logo(href='/')
                    img.logo__img(src=`${files}/logo.png` alt='')   
                a.phone(href=`tel:${modxConfig('tel')}`) !{modxConfig('phone')}
                a.email(href=`mailto:${modxConfig('email')}`) !{modxConfig('email')}
                +socials-svg(socialsSvg)
                a.button(form-popup data-src="#form-popup") Обратный звонок