mixin seo-text(cl, name)
    if block
        div(class=`${cl}`)&attributes(attributes)
            div(class=`${cl}__top ${cl}-head`)
                div(class=`${cl}__head`) !{name}
                div(class=`${cl}__box-icon`)
                    svg(class=`${cl}__icon`)
                        use(xlink:href="./assets/files/sprite.svg#arrow-slider")
            div(class=`${cl}__body ${cl}-body content`)
                block