mixin footer()
    footer.sections__footer 
        .container
            .footer
                .madein
                    .madein__text Сайт разработан
                    a.madein__site(href=`${modxConfig('siteLink')}` rel="noopener nofollow noreferrer" target="_blank") !{modxConfig('siteName')}
                
                |!{`<a class="policy-link" ${modxConfig('policy')}>Политика конфиденциальности</a>`}

                .counter
                    |!{modxConfig('counter')}
                
                .copyright !{modxConfig('copyright')}
