mixin radiobox(i)
    - var id = i.id ? i.id : ''
    - var className = 'radiobox'
    div(class = `${className} field-container` + (i.checks ? ' error-watch' : ''))&attributes(attributes)
        label(class=`${className}__label`)
            input(
                id = `${id}`
                class = `${className}__input ${i.fieldName}`
                type = `radio` 
                name = `${i.name}` 
                checked = i.checked
                value = '' + (i.value ? `${i.value}` : '' )
                data-checks = `` + (i.checks ? i.checks : '')
                data-type = `radiobox`
                data-caption = '' + ((i.showCaption && i.caption) ? i.caption : '')
            )
            span(class=`${className}__box`)
                span.icon(class=`${className}__icon`)
                //- svg.icon(class=`radiobox__icon`)
                //-     use(xlink:href="./assets/files/sprite.svg#checkbox")
            if (i.caption)
                span(class=`${className}__text`) !{i.caption}